@using DoAnWeb.Models;
@using DoAnWeb.Utilities;
@model IEnumerable<Blog>

<div class="sidebar-item recent-posts">
    @foreach(var rp in Model)
    {
        string url = Functions.TitleSlugGeneration("blog", rp.Title, rp.BlogId);
        <div class="post-item clearfix">
        <img src="@rp.Image" alt="">
        <h4><a href="~/@url">@rp.Title</a></h4>
        <time>@rp.CreatedDate</time>
        </div>
    }
</div><!-- End sidebar recent posts-->