@{
    ViewData["Title"] = "Trang chủ";
}

<style>
    .num-icon-box{
        text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
        font-size: xxx-large;
        text-align: center;
        line-height: 40px;
        display: inline-block; /* Hiển thị trên cùng một dòng */
    }
</style>

<!-- ======= Phần Hero ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Chào mừng bạn đến với <span>Moderna</span></h2>
                <p class="animate__animated animate__fadeInUp">
                    CHÚNG TÔI LÀ MỘT PHẦN MỀM CÔNG TY PHÁT TRIỂN
                    TRAO QUYỀN CHO DOANH NGHIỆP TRÊN TOÀN THẾ GIỚI
                </p>
                <a href="~/about" class="btn-get-started animate__animated animate__fadeInUp">Xem thêm</a>
            </div>
        </div>
    </div>
</section><!-- Kết thúc Hero -->

<main id="main">

    <!-- ======= Phần Dịch Vụ ======= -->
    <section class="services">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><p class =" num-icon-box">1</p></div>
                        <h2 class="title"><a href="~/Member">300+</a></h2>
                        <p class="description">Có kỹ năng và Nhân viên có động lực tạo ra các website tối ưu và hiện đại</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><p class=" num-icon-box">2</p></div>
                        <h2 class="title"><a href="~/Member">5</a></h2>
                        <p class="description">Chi nhánh xung quanh Thế giới với nhiều hoạt động sôi nổi và khả năng làm việc cao</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><p class=" num-icon-box">3</p></div>
                        <h2 class="title"><a href="~/Projects">20+</a></h2>
                        <p class="description">Dự án thành công và có hiệu suất vượt trội và trải nghiệm tuyệt vời cho khách hàng.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><p class=" num-icon-box">4</p></div>
                        <h2 class="title"><a href="~/Projects">50+</a></h2>
                        <p class="description">Khách hàng trên toàn thế giới với những sản phẩm và dịch vụ tiên tiến.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- Kết thúc Phần Dịch Vụ -->
    <!-- ======= Phần Tại Sao Chúng Tôi ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="~/assets/img/why-us.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Đội ngũ</a></h4>
                        <p class="description">Đội ngũ chuyên gia của chúng tôi là động lực đằng sau tất cả những thành công của chúng tôi. Cùng nhau, chúng tôi tin rằng mọi thứ đều có thể và làm việc không ngừng nghỉ để đáp ứng hoặc vượt quá mong đợi của khách hàng trong khi vẫn đúng với các giá trị cốt lõi của chúng tôi.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Cam kết</a></h4>
                        <p class="description">Moderna cam kết tuyển dụng những cá nhân tài năng nhất trong lĩnh vực Công nghệ thông tin và cung cấp cho họ cơ hội phát triển nghề nghiệp và phát triển nghề nghiệp liên tục. Nhân viên của chúng tôi không chỉ đam mê công nghệ mà còn tận tâm không kém với công việc của họ.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- Kết thúc Phần Tại Sao Chúng Tôi -->
    <!-- ======= Phần Tính Năng ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>CHÚNG TÔI LÀM GÌ</h2>
                <p>Phần mềm,ứng dụng,thẻ định hướng giúp các doanh nghiệp vừa và nhỏ đẩy nhanh quá trình chuyển đổi số và tăng trưởng kinh doanh bằng cách cung cấp các dịch vụ phát triển phần mềm chất lượng.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Phát triển phần mềm tùy chỉnh</h3>
                    <p class="fst-italic">
                        Chúng tôi phát triển phần mềm cấp doanh nghiệp an toàn, có thể mở rộng và linh hoạt để đáp ứng nhu cầu của tổ chức bạn. Các dịch vụ phát triển của chúng tôi bao gồm ứng dụng di động, ứng dụng web và giải pháp phần mềm tùy chỉnh.
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> Phát triển ứng dụng doanh nghiệp tùy chỉnh</li>
                        <li><i class="bi bi-check"></i> Phát triển sản phẩm phần mềm</li> 
                        <li><i class="bi bi-check"></i> Nâng cao và hiện đại hóa phần mềm</li>
                        <li><i class="bi bi-check"></i> Phục hồi dự án</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/assets/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>UX/UI Design</h3>
                    <p class="fst-italic">
                        Chúng tôi tạo ra các giao diện trực quan, hấp dẫn làm hài lòng người dùng. Đội ngũ chuyên gia của chúng tôi tạo ra các sản phẩm không chỉ dễ sử dụng mà còn bắt mắt và hấp dẫn.
                    </p>
                    <p>
                        Thiết kế UI và UX là quá trình tối đa hóa sự hài lòng của người dùng bằng cách cải thiện khả năng sử dụng và khả năng truy cập của ứng dụng web hoặc thiết bị di động. Mục tiêu là nâng cao trải nghiệm cho người dùng với các yếu tố thiết kế trực quan đồng thời tối ưu hóa khả năng sử dụng và khả năng tiếp cận cho người dùng của họ. Một sản phẩm được thiết kế tốt không chỉ trông tuyệt vời và phong cách mà còn có giao diện người dùng rõ ràng, điều hướng trực quan và các tính năng dễ truy cập mang lại trải nghiệm người dùng mượt mà và hiệu quả.
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>AI and Machine Learning</h3>
                    <p>Tái tạo doanh nghiệp của bạn với các dịch vụ phát triển AI và máy học của chúng tôi. Chúng tôi cung cấp các giải pháp AI và máy học toàn diện hỗ trợ các doanh nghiệp trong các thị trường độc đáo của họ.</p>
                    <ul>
                        <li><i class="bi bi-check"></i> Machine Learning Pipeline &; Modeling</li>
                        <li><i class="bi bi-check"></i> Khám phá &; Chuẩn bị Dữ liệu</li>
                        <li><i class="bi bi-check"></i> Phân tích yêu cầu &; Tư vấn AI</li>
                        <li><i class="bi bi-check"></i> Đánh giá hiệu suất mô hình</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/assets/img/features-4.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>QA and Testing</h3>
                    <p class="fst-italic">
                        Cải thiện hiệu suất và độ tin cậy của sản phẩm với các dịch vụ thử nghiệm chuyên nghiệp của chúng tôi. Từ QA thủ công đến tự động hóa, chúng tôi đảm bảo rằng tất cả các yếu tố trong giải pháp của bạn hoạt động hoàn hảo.
                    </p>
                    <p>
                        Tự hỏi làm thế nào để giảm chi phí phát triển nhưng cải thiện chất lượng phần mềm của bạn? Hãy biến Morderna Vietnam thành Trung tâm phát triển Offshore của bạn ngay hôm nay để giảm chi phí hoạt động và nâng cao năng suất. Mô hình Trung tâm phát triển Offshore được chứng minh là một công cụ hiệu quả cao mang lại cho bạn khả năng hiển thị và dự đoán tốt hơn trong suốt quá trình phát triển của bạn.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- Kết thúc Phần Tính Năng -->
</main>